In [2]:
import pandas as pd
import os

In [3]:
path = r'D:\Users\207634\Toms workbook\work\Groundstar-file-parse'
filename_list = []
for i in os.listdir(path):
    if os.path.isfile(os.path.join(path,i)) and 'SCHED_FLIGHTS_DDO_Report_Summary' in i:
        filename_list.append(i)
filename_list

['ADL SCHED_FLIGHTS_DDO_Report_Summary.xls',
 'BNE SCHED_FLIGHTS_DDO_Report_Summary.xls',
 'MEL SCHED_FLIGHTS_DDO_Report_Summary.xls',
 'SYD SCHED_FLIGHTS_DDO_Report_Summary.xls']

In [4]:
df = pd.concat([pd.read_excel(file, skiprows=2).assign(port=os.path.basename(file).split(' ')[0]) for file in filename_list])

D:\Users\207634\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [37]:
df_totals_syd = df[(df['Unnamed: 6']=='Total')&(df['port']=='SYD')]
df_totals_mel = df[(df['Unnamed: 6']=='Total')&(df['port']=='MEL')]
df_totals_adl = df[(df['Unnamed: 6']=='Total')&(df['port']=='ADL')]
df_totals_bne = df[(df['Unnamed: 6']=='Total')&(df['port']=='BNE')]

In [76]:
#df.columns.tolist()

columns_selected_ADL_BNE = [
 'port',
 'Date',
 #'Unnamed: 6',
 'Unnamed: 8',
 'Unnamed: 13',
 #'Unnamed: 18',
 'Unnamed: 19',
 'Total Number of DDO Performed',
 #'Unnamed: 30',
 #'Unnamed: 35',
 #'Unnamed: 39',
 'Unnamed: 40',
 #'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 48'
]

columns_selected_SYD_MEL = [
 'port',
 'Date',
 #'Unnamed: 6',
 'Unnamed: 8',
 'Unnamed: 13',
 #'Total Number of DDO Performed',
 'Unnamed: 18',
 #'Unnamed: 19',
 'Unnamed: 30',
 #'Unnamed: 35',
 'Unnamed: 39',
 #'Unnamed: 40',
 'Unnamed: 43',
 #'Unnamed: 44',
 'Unnamed: 48'
]

renamed_cols = [
    'Port'
    ,'Date'
    #,'Type'
    ,'Total Arrivals'
    ,'Total Departures'
    ,'Total number of DDO Opportunities'
    ,'DDO Opportunities on DDO-enabled gates'
    #,'Total Number of DDO Performed'
    ,'# Departed <STD'
    ,'# Departed with 15 min STD'
    ,'# Departed >15 min  STD'

]

SYD = df_totals_syd[columns_selected_SYD_MEL]
MEL = df_totals_mel[columns_selected_SYD_MEL]
ADL = df_totals_adl[columns_selected_ADL_BNE]
BNE = df_totals_bne[columns_selected_ADL_BNE]

In [77]:
SYD.columns = renamed_cols
SYD

,Port,Date,Total Arrivals,Total Departures,Total number of DDO Opportunities,DDO Opportunities on DDO-enabled gates,# Departed <STD,# Departed with 15 min STD,# Departed >15 min STD
3,SYD,2020-08-31 00:00:00,2,2,2,1.5,1.0,1.0,0.0

In [78]:
MEL.columns = renamed_cols
MEL

Empty DataFrame
Columns: [Port, Date, Total Arrivals, Total Departures, Total number of DDO Opportunities, DDO Opportunities on DDO-enabled gates, # Departed <STD, # Departed with 15 min STD, # Departed >15 min  STD]
Index: []

In [79]:
ADL.columns = renamed_cols
ADL

,Port,Date,Total Arrivals,Total Departures,Total number of DDO Opportunities,DDO Opportunities on DDO-enabled gates,# Departed <STD,# Departed with 15 min STD,# Departed >15 min STD
4,ADL,2020-08-31 00:00:00,5,5,5.0,3.5,1.0,2.0,0.0

In [80]:
BNE.columns = renamed_cols
BNE

,Port,Date,Total Arrivals,Total Departures,Total number of DDO Opportunities,DDO Opportunities on DDO-enabled gates,# Departed <STD,# Departed with 15 min STD,# Departed >15 min STD
4,BNE,2020-08-31 00:00:00,10,10,10.0,5.5,6.0,2.0,1.0

In [81]:
output_df = SYD.append(ADL).append(MEL).append(BNE)

output_df

,Port,Date,Total Arrivals,Total Departures,Total number of DDO Opportunities,DDO Opportunities on DDO-enabled gates,# Departed <STD,# Departed with 15 min STD,# Departed >15 min STD
3,SYD,2020-08-31 00:00:00,2,2,2,1.5,1.0,1.0,0.0
4,ADL,2020-08-31 00:00:00,5,5,5,3.5,1.0,2.0,0.0
4,BNE,2020-08-31 00:00:00,10,10,10,5.5,6.0,2.0,1.0